html {
    --grid-number: 16;
    --grid-colour: white;
    --box-colour: black;
}

#container {
    width: 800px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-number), 1fr);
    grid-template-rows: repeat(var(--grid-number), 1fr);
    gap: 1px;
    border-style: solid;
    border-color: black;
    
}

.boxes {

    background-color: var(--grid-colour);
    height: 100%;
    width: 100%;
    
}

.color {
    background-color: var(--box-colour);
}
